.masthead {
  background: black;
  background-position: 200px -200px;
  background-attachment: fixed;
  border-radius: 0;
  margin-bottom: 0;
  z-index: -9999;
  position: relative;
  .masthead-headings {
    color: @gray-lighter;
    position: relative;
    h1 {
      display: inline-block;
      padding: 20px 70px 20px 50px;
      margin-bottom: 0;
      background-color: fadeout(@accent, 20%);
    }
    h2 {
      display: inline-block;
      margin-top: 0;
      background-color: fadeout(@gray-darker, 20%);
      padding: 10px 60px 10px 50px;
    }
  }
  .masthead-bg {
    position: fixed;
    z-index: -999999999;
    height: 100%;
    width: 100%;
    top: -20%;
    left: 10%;
    img {
      display: none;
    }
  }
}

.navbar-wrapper {
  height: @navbar-height;
}

.navbar {
  border-bottom: 1px solid @accent;
  &.affix {
    .navbar-fixed-top();
  }
  .nav {
    display: inline-block;
    margin: auto;
    vertical-align: bottom;
    > li {
      > a {
        font-size: 16px;
        border-radius: 0;
        .transition(.15s all);
        color: @gray-light;
        &:hover {
          background-color: transparent;
          color: @accent;
        }
      }
    }
  }
  .nav-social {
    > li {
      > a {
        font-size: 20px;
      }
    }
  }
}

.content {
  background-color: @body-bg;
  z-index: -999999;
  h1 {
    color: @gray-lighter;
    .text-center();
  }
  > .container {
    padding-top: 20px;
  }
}

.panel {
  border-radius: 0;
}

.heading-fancy {
  border-bottom: 1px solid @gray-lighter;
  margin: 0 0 50px;
  span {
    background: #000;
    position:relative;
    top: .5em;
    padding: 0 20px;
  }
}

.anchor {
  padding-top: @navbar-height + 5px;
  margin-top: -@navbar-height + 5px;
}


a {
  color: lighten(@brand-primary, 5%);
  &:hover {
    text-decoration: none;
  }
}

.img-section {
  width: 100%;
  margin-top: 35px;
}
