@accent: #070;
@brand-primary: @accent;

@body-bg: #000;
@text-color: @gray-lighter;

@sans-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
@headings-font-family: 'Oswald', @sans-font-family;

@link-color: lighten(@brand-primary, 10%);
@link-hover-color: lighten(@link-color, 50%);

@navbar-inverse-bg: #000;
@nav-link-hover-bg: @accent;

@panel-bg: #000;
@panel-border: @gray-darker;
@panel-heading-bg: @gray-darker;

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

a {
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  border-bottom: 4px solid darken(@brand-primary, 10%);
}
